In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [60]:
df=pd.read_csv("Data/finalTrain.csv")

In [61]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [62]:
df.shape

(45584, 20)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [64]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min)
count,43730.000000,43676.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,44591.000000,45584.000000
mean,29.566911,4.633774,17.017948,70.229684,17.465480,70.844161,1.023385,0.744635,26.293963
std,5.815064,0.334744,8.185674,22.885575,7.335562,21.120578,0.839055,0.572510,9.384298
min,15.000000,1.000000,-30.905562,-88.366217,0.010000,0.010000,0.000000,0.000000,10.000000
25%,25.000000,4.500000,12.933284,73.170000,12.988453,73.280000,0.000000,0.000000,19.000000
50%,30.000000,4.700000,18.551440,75.897963,18.633934,76.002574,1.000000,1.000000,26.000000
75%,35.000000,4.900000,22.728163,78.044095,22.785049,78.107044,2.000000,1.000000,32.000000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,3.000000,3.000000,54.000000

In [65]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [66]:
df.duplicated().sum()

0

In [67]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [68]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [70]:
data=df.copy()

In [71]:
data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [72]:
data.drop(labels=["ID","Delivery_person_ID"],axis=1,inplace=True)

In [73]:
data.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

Using Haversine formula:
It takes the latitude and longitude of two points and converts the angles to radians to perform the necessary calculations. We use this formula because the dataset doesn’t provide the distance between the restaurant and the delivery location. There are only latitude and longitude. So, let’s calculate it and then create a distance column in the dataset.

In [74]:
# Set the earth's radius (in kilometers)
R = 6371

# Convert degrees to radians
def deg_to_rad(degrees):
    return degrees * (np.pi/180)

# Function to calculate the distance between two points using the haversine formula
def distcalculate(lat1, lon1, lat2, lon2):
    d_lat = deg_to_rad(lat2-lat1)
    d_lon = deg_to_rad(lon2-lon1)
    a = np.sin(d_lat/2)**2 + np.cos(deg_to_rad(lat1)) * np.cos(deg_to_rad(lat2)) * np.sin(d_lon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    return R * c

In [75]:
# Calculate the distance between each pair of points
data['distance'] = np.nan

for i in range(len(data)):
    data.loc[i, 'distance'] = distcalculate(data.loc[i, 'Restaurant_latitude'], 
                                        data.loc[i, 'Restaurant_longitude'], 
                                        data.loc[i, 'Delivery_location_latitude'], 
                                        data.loc[i, 'Delivery_location_longitude'])

In [76]:
data.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.787860
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.930258
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.396618

In [77]:
data.drop(['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude'], axis=1,inplace=True)

In [78]:
data.head()

,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance
0,36.0,4.2,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582
1,21.0,4.7,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319
2,23.0,4.7,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.787860
3,34.0,4.3,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.930258
4,24.0,4.7,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.396618

In [21]:
data.describe(include='all')

,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance
count,43730.000000,43676.000000,45584,43853,45584,44968,44983,45584.000000,45584,45584,44591.000000,45356,44384,45584.000000,45584.000000
unique,NaN,NaN,44,176,193,6,4,NaN,4,4,NaN,2,3,NaN,NaN
top,NaN,NaN,15-03-2022,21:55,21:30,Fog,Low,NaN,Snack,motorcycle,NaN,No,Metropolitian,NaN,NaN
freq,NaN,NaN,1192,461,495,7653,15476,NaN,11530,26429,NaN,44460,34087,NaN,NaN
mean,29.566911,4.633774,NaN,NaN,NaN,NaN,NaN,1.023385,NaN,NaN,0.744635,NaN,NaN,26.293963,99.321320
std,5.815064,0.334744,NaN,NaN,NaN,NaN,NaN,0.839055,NaN,NaN,0.572510,NaN,NaN,9.384298,1099.839139
min,15.000000,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,10.000000,1.465067
25%,25.000000,4.500000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,19.000000,4.663493
50%,30.000000,4.700000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN,26.000000,9.264356
75%,35.000000,4.900000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,1.000000,NaN,NaN,32.000000,13.763977
max,50.000000,6.000000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,3.000000,NaN,NaN,54.000000,19692.674606

In [83]:
from datetime import datetime,time

In [86]:
# convert the date column to datetime format, specifying the format explicitly
data['Order_Date'] = pd.to_datetime(data['Order_Date'],format='%d/%m/%Y')

# add a new column with the day of the week
data['day_of_week'] = data['Order_Date'].dt.day_name()

In [87]:
data.head()

,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance,day_of_week
0,36.0,4.2,2022-12-02,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582,Friday
1,21.0,4.7,2022-02-13,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319,Sunday
2,23.0,4.7,2022-04-03,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.787860,Sunday
3,34.0,4.3,2022-02-13,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.930258,Sunday
4,24.0,4.7,2022-02-14,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.396618,Monday

In [88]:
data.drop(labels='Order_Date',axis=1,inplace=True)

In [89]:
data.head()

,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance,day_of_week
0,36.0,4.2,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582,Friday
1,21.0,4.7,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319,Sunday
2,23.0,4.7,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.787860,Sunday
3,34.0,4.3,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.930258,Sunday
4,24.0,4.7,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.396618,Monday

In [90]:
data['day_of_week'].unique()

array(['Friday', 'Sunday', 'Monday', 'Wednesday', 'Tuesday', 'Thursday',
       'Saturday'], dtype=object)

In [ ]:
Time order and the picked time data values are not in the same format.

In [92]:
import re


# define regular expression to match the expected format (HH:MM)
time_pattern = re.compile(r'^\d{1,2}:\d{2}$')

# check and update values in the 'Time_Orderd' column
for idx, time_val in data['Time_Orderd'].items():
    if isinstance(time_val, str) and not bool(time_pattern.match(time_val)):
        try:
            hours, minutes = divmod(float(time_val) * 60, 60)
            data.loc[idx, 'Time_Orderd'] = f'{int(hours):02d}:{int(minutes):02d}'
        except ValueError:
            pass

In [98]:
import re


# define regular expression to match the expected format (HH:MM)
time_pattern = re.compile(r'^\d{1,2}:\d{2}$')

# check and update values in the 'Time_Orderd' column
for idx, time_val in data['Time_Order_picked'].items():
    if isinstance(time_val, str) and not bool(time_pattern.match(time_val)):
        try:
            hours, minutes = divmod(float(time_val) * 60, 60)
            data.loc[idx, 'Time_Order_picked'] = f'{int(hours):02d}:{int(minutes):02d}'
        except ValueError:
            pass

In [99]:
data['Time_Order_picked'].unique()

array(['22:10', '15:05', '17:40', '09:30', '20:05', '20:35', '15:10',
       '20:40', '20:50', '21:30', '20:25', '22:45', '08:30', '19:45',
       '12:30', '18:50', '23:30', '21:35', '23:45', '22:50', '22:40',
       '23:35', '13:40', '21:45', '19:10', '14:25', '11:10', '09:55',
       '08:55', '23:10', '17:30', '18:35', '19:50', '19:25', '00:27',
       '19:15', '16:55', '11:40', '15:15', '22:55', '22:25', '20:55',
       '23:05', '00:45', '00:57', '09:40', '20:20', '22:35', '00:55',
       '23:55', '15:40', '10:30', '00:52', '10:50', '16:05', '20:15',
       '12:15', '15:45', '22:15', '10:45', '15:30', '24:05:00', '21:25',
       '12:45', '21:15', '18:20', '18:25', '11:50', '12:50', '10:55',
       '21:40', '10:20', '17:55', '23:50', '12:55', '24:10:00', '10:40',
       '00:22', '20:45', '00:49', '23:15', '22:20', '21:05', '00:42',
       '24:15:00', '21:20', '14:35', '10:25', '09:05', '16:50', '08:40',
       '23:40', '21:50', '19:55', '00:37', '10:35', '09:25', '17:20',
       '19:30', '17:25', '20:10', '01:00', '17:35', '00:47', '19:05',
       '13:20', '17:50', '18:05', '19:20', '10:05', '09:10', '21:55',
       '19:40', '18:10', '09:50', '15:50', '18:30', '18:15', '16:15',
       '11:15', '21:10', '22:30', '15:20', '18:40', '23:20', '11:25',
       '13:55', '18:45', '22:05', '11:55', '18:55', '09:45', '17:15',
       '12:05', '00:30', '19:35', '08:25', '11:05', '15:35', '12:40',
       '12:25', '08:20', '23:25', '16:10', '13:45', '08:15', '08:45',
       '20:30', '00:32', '11:20', '08:50', '14:45', '17:45', '00:25',
       '08:35', '12:10', '11:35', '14:30', '10:15', '17:05', '10:10',
       '09:35', '11:30', '16:25', '09:15', '13:35', '15:55', '13:10',
       '13:05', '11:45', '16:20', '16:30', '16:45', '09:20', '13:25',
       '14:15', '14:05', '16:35', '16:40', '13:30', '14:40', '12:20',
       '13:50', '17:10', '15:25', '14:20', '12:35', '00:34', '14:10',
       '14:55', '13:15', '14:50', '00:40'], dtype=object)

In [ ]:
df['Dept_Hour']=df['Dep_Time'].str.split(':').str[0]
df['Dept_Min']=df['Dep_Time'].str.split(':').str[1]

In [100]:
data['time_taken_order_picked'] = data['Time_Order_picked'] - data['Time_Orderd']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [97]:

# # extract the time components from the datetime column
data['Time_Orderd_hour'] = data['Time_Orderd'].dt.hour
data['Time_Orderd_min'] = data['Time_Orderd'].dt.minute

AttributeError: Can only use .dt accessor with datetimelike values

In [95]:
data['Time_Orderd'].unique()

array(['21:55', '14:55', '17:30', '09:20', '19:50', '20:25', '20:30',
       '20:40', '21:15', '20:20', '22:30', '08:15', '19:30', '12:25',
       '18:35', '20:35', '23:20', '21:20', '23:35', '22:35', '23:25',
       '13:35', '21:35', '18:55', '14:15', '00:27', '09:45', '08:40',
       '00:57', '17:25', nan, '19:45', '19:10', '10:55', '21:40', '00:47',
       '16:45', '11:30', '15:10', '22:45', '22:10', '20:45', '22:50',
       '17:55', '09:25', '20:15', '22:25', '22:40', '23:50', '15:25',
       '10:20', '20:55', '10:40', '15:55', '20:10', '12:10', '15:30',
       '10:35', '21:10', '20:50', '12:35', '00:52', '23:40', '18:15',
       '18:20', '11:45', '12:45', '23:30', '10:50', '21:25', '10:10',
       '17:50', '22:20', '12:40', '23:55', '10:25', '08:45', '23:45',
       '19:55', '22:15', '23:10', '09:15', '18:25', '18:45', '16:50',
       '01:00', '14:20', '10:15', '08:50', '00:22', '17:45', '16:35',
       '08:30', '21:45', '19:40', '14:50', '18:10', '12:20', '12:50',
       '09:10', '12:30', '17:10', '19:15', '17:20', '18:30', '13:10',
       '19:35', '09:50', '00:37', '00:49', '10:30', '09:40', '15:35',
       '16:55', '22:55', '00:40', '00:45', '17:15', '21:30', '18:40',
       '11:10', '13:50', '00:25', '21:50', '11:50', '13:30', '00:55',
       '08:25', '11:20', '11:55', '09:30', '08:20', '08:10', '11:40',
       '23:15', '19:20', '12:15', '11:35', '11:15', '17:35', '17:40',
       '14:40', '18:50', '11:25', '14:25', '00:30', '16:10', '19:25',
       '08:55', '13:40', '00:42', '09:35', '08:35', '16:15', '13:20',
       '15:50', '15:20', '16:20', '14:30', '15:45', '16:40', '00:32',
       '12:55', '10:45', '13:25', '09:55', '15:15', '13:15', '00:34',
       '15:40', '16:25', '14:10', '13:45', '13:55', '14:35', '16:30',
       '14:45'], dtype=object)

In [52]:
import datetime as dt


"""


# define custom function to convert float to datetime object
def convert_float_to_time(float_time):
    # extract hour and minute values from the float
    hour, minute = divmod(float_time * 60, 60)
    # create datetime object with hour and minute values
    time_obj = dt.time(int(hour), int(minute))
    # format datetime object to HH:MM format
    time_str = time_obj.strftime('%H:%M')
    return time_str

# apply custom function to convert float values in the 'time' column to HH:MM format
df['time'] = df['time'].apply(lambda x: convert_float_to_time(float(x)))

# print the updated dataframe
print(df)

"""

,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance,day_of_week,Time_Orderd_hour,Time_Orderd_min
0,36.0,4.2,2023-04-19 21:55:00,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582,Friday,21.0,55.0
1,21.0,4.7,2023-04-19 14:55:00,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319,Sunday,14.0,55.0
2,23.0,4.7,2023-04-19 17:30:00,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.787860,Sunday,17.0,30.0
3,34.0,4.3,2023-04-19 09:20:00,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.930258,Sunday,9.0,20.0
4,24.0,4.7,2023-04-19 19:50:00,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.396618,Monday,19.0,50.0

In [53]:
data['Time_Orderd_hour'].isnull().sum()

5799

,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance,day_of_week,Time_Orderd_hour,Time_Orderd_min
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45522,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45544,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45545,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45557,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45573,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [50]:
# data['Time_Orderd_hour']=data['Time_Orderd'].str.split(':').str[0]
# data['Time_Orderd_min']=data['Time_Orderd'].str.split(':').str[1]

Delivery_person_Age               float64
Delivery_person_Ratings           float64
Order_Date                 datetime64[ns]
Time_Orderd                        object
Time_Order_picked                  object
Weather_conditions                 object
Road_traffic_density               object
Vehicle_condition                   int64
Type_of_order                      object
Type_of_vehicle                    object
multiple_deliveries               float64
Festival                           object
City                               object
Time_taken (min)                    int64
distance                          float64
Day_of_week                        object
dtype: object

In [1]:
sns.pairplot(data)

NameError: name 'sns' is not defined