In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
data=pd.read_csv("Data/finalTrain.csv")

In [20]:
df=data.copy()

In [21]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [5]:
#to split the dependent and target features
X=df.iloc[:,:-1]
y=df.iloc[:,-1:]

In [6]:
X.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian

In [7]:
y

       Time_taken (min)
0                    46
1                    23
2                    21
3                    20
4                    41
...                 ...
45579                32
45580                36
45581                16
45582                26
45583                36

[45584 rows x 1 columns]

In [8]:
numerical_cols=X.select_dtypes(exclude='object').columns
categorical_cols=X.select_dtypes(include='object').columns

In [10]:
numerical_cols

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Vehicle_condition',
       'multiple_deliveries'],
      dtype='object')

In [11]:
categorical_cols

Index(['ID', 'Delivery_person_ID', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Type_of_order', 'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [14]:
# Define the custom ranking for each ordinal variable- order in the ascending

#ordinal encoding

#traffic_density={'Low':1,'Medium':2,'High':3,'Jam':4}

Road_traffic_density_cat=['Low','Medium','High','Jam']

In [ ]:
#one hot encoding
#Weather_conditions
#City

#to drop
#ID', 'Delivery_person_ID,'Type_of_order''Delivery_person_Ratings',

Using Haversine formula: It takes the latitude and longitude of two points and converts the angles to radians to perform the necessary calculations. We use this formula because the dataset doesn’t provide the distance between the restaurant and the delivery location. There are only latitude and longitude. So, let’s calculate it and then create a distance column in the dataset.

In [16]:

# Set the earth's radius (in kilometers)
R = 6371

# Convert degrees to radians
def deg_to_rad(degrees):
    return degrees * (np.pi/180)

# Function to calculate the distance between two points using the haversine formula
def distcalculate(lat1, lon1, lat2, lon2):
    d_lat = deg_to_rad(lat2-lat1)
    d_lon = deg_to_rad(lon2-lon1)
    a = np.sin(d_lat/2)**2 + np.cos(deg_to_rad(lat1)) * np.cos(deg_to_rad(lat2)) * np.sin(d_lon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    return R * c

In [18]:
# Calculate the distance between each pair of points
def distance_calcs():

    df['distance'] = np.nan

    for i in range(len(df)):
        df.loc[i, 'distance'] = distcalculate(df.loc[i, 'Restaurant_latitude'], 
                                            df.loc[i, 'Restaurant_longitude'], 
                                            df.loc[i, 'Delivery_location_latitude'], 
                                            df.loc[i, 'Delivery_location_longitude'])

In [23]:
import re

In [24]:
def time_format(time):

    # define regular expression to match the expected format (HH:MM)
    time_pattern = re.compile(r'^\d{1,2}:\d{2}$')

    # check and update values in the 'Time_Orderd' column
    for idx, time_val in df[time].items():
        if isinstance(time_val, str) and not bool(time_pattern.match(time_val)):
            try:
                hours, minutes = divmod(float(time_val) * 60, 60)
                df.loc[idx, time] = f'{int(hours):02d}:{int(minutes):02d}'
            except ValueError:
                pass

In [22]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [13]:
#Create a pipeline to perform the various steps in data processing and scaling
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [ ]:
# To create numerical pipeline

num_pipeline=Pipeline(
    steps=[
        ('drop1',ColumnTransformer(transformers=['ID','Delivery_person_ID','Type_of_order','Delivery_person_Ratings'])),

        ('imputer', SimpleImputer(strategy='median')),

        ('distance', FunctionTransformer(distance_calcs), ['Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude']),

        ('time_order', FunctionTransformer(time_format), ['Time_Orderd']),

        ('time_pick', FunctionTransformer(time_format), ['Time_Order_picked']),

        ('drop2',ColumnTransformer(transformers=['Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude','Time_Orderd','Time_Order_picked'])), 
         
        ('scaler',StandardScaler())
        ]
        )

# To create categorical pipeline        

cat_pipeline=Pipeline(
    steps=[
        ()
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(categories=['Weather_conditions','City'])),
        ('ordinal Encoder', OrdinalEncoder(categories=[Road_traffic_density_cat])),

        ('scaler',StandardScaler())
    ]
)

#To apply the pipeline in the columns using transformer function

preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('Cat_pipeline',cat_pipeline,categorical_cols)]
)